[submodule "cmake/Hunter/disabled-mode"]
	path = cmake/Hunter/disabled-mode
	url = git@github.com:hunter-packages/disabled-mode.git
[submodule "cmake/cable"]
	path = cmake/cable
	url = git@github.com:ethereum/cable.git
	branch = master
[submodule "RandomY"]
	path = RandomY
	url = git@github.com:core-coin/RandomY.git
