[submodule "cmake/Hunter/disabled-mode"]
	path = cmake/Hunter/disabled-mode
	url = https://github.com/hunter-packages/disabled-mode.git
	branch = master
[submodule "cmake/cable"]
	path = cmake/cable
	url = https://github.com/ethereum/cable.git
	branch = master
[submodule "RandomY"]
	path = RandomY
	url = https://github.com/core-coin/RandomY.git
	branch = master
