name: CoreMiner pipeline
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
        token: ${{secrets.GITHUB_TOKEN}}
    - name: Cache hunter
      uses: actions/cache@v3
      with:
        path: ~/.hunter
        key: ${{ runner.OS }}-hunter-cache-${{ hashFiles('**/cmake/Hunter/config.cmake') }}
        restore-keys: |
          ${{ runner.OS }}-hunter-cache-
    - name: Build
      run: |
        mkdir build && cd build
        cmake ..
        make -j4
  release:
    if: github.ref != 'refs/heads/master'
    runs-on: ubuntu-latest
    outputs:
        tag: ${{steps.version_bump.outputs.tag}}
        url: ${{steps.create_release.outputs.upload_url}}
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
        token: ${{secrets.GITHUB_TOKEN}}
    - name: Version
      id: version_bump
      uses: anothrNick/github-tag-action@1.38.0
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        DEFAULT_BUMP: "patch"
        RELEASE_BRANCHES: "master"
        WITH_V: true
    - name: Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      with:
        tag_name: ${{steps.version_bump.outputs.tag}}
        release_name: coreminer ${{steps.version_bump.outputs.tag}}
        draft: false
        prerelease: false
  pack:
    strategy:
      matrix:
        platform: [ubuntu-latest, raspbian-private]
    runs-on: ${{matrix.platform}}
    needs: release
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
        token: ${{secrets.GITHUB_TOKEN}}
    - name: Build
      run: |
        mkdir build && cd build
        cmake .. -DPROJECT_VERSION=${{needs.release.outputs.url}}
        make -j4
    - name: Prepare
      run: |
        mkdir build/artifacts
        cp build/coreminer/coreminer build/artifacts
        cp mine.sh build/artifacts
    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: ${{matrix.platform}}
        path: build/artifacts/*
  artifacts:
    needs: [release, pack]
    strategy:
      matrix:
        platform: [
          {os: ubuntu-latest, path: linux-x86_64},
          {os: raspbian-private, path: linux-arm64},
        ]
    runs-on: ${{matrix.platform.os}}
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
        token: ${{secrets.GITHUB_TOKEN}}
    - name: Download artifacts
      uses: actions/download-artifact@v2
    - name: Zip
      run: tar -czvf ${{ matrix.platform.path }}.tar.gz ${{ matrix.platform.os }}/*
    - name: Upload release assets
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.release.outputs.url }}
        asset_path: ./${{ matrix.platform.path }}.tar.gz
        asset_name: coreminer-${{ matrix.platform.path }}.tar.gz
        asset_content_type: application/gzip
  docker:
    needs: release
    strategy:
      matrix:
        platform: [
          {os: ubuntu-latest, path: linux-x86_64},
          {os: raspbian-private, path: linux-arm64},
        ]
    runs-on: ${{matrix.platform.os}}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: recursive
        token: ${{secrets.GITHUB_TOKEN}}
    - name: Docker
      run: |
        docker login ghcr.io -u ${{github.actor}} -p ${{secrets.GITHUB_TOKEN}}
        docker build --network=host . -t ghcr.io/catchthatrabbit/coreminer:${{needs.release.outputs.tag}}-${{matrix.platform.path}} -t ghcr.io/catchthatrabbit/coreminer:${{matrix.platform.path}}
        docker push ghcr.io/catchthatrabbit/coreminer:${{needs.release.outputs.tag}}-${{matrix.platform.path}}
        docker push ghcr.io/catchthatrabbit/coreminer:${{matrix.platform.path}}
